{% extends "base.html" %}
{% set active_page = 'creation' %}

{% block content %}

<div class="row">
  <form method="POST" id="workout_form">
    {{ form.hidden_tag() }}

    {% for m in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ m }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="row">
      <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        {{ form.num_rounds.label(class="form_label") }}
        {{ form.num_rounds(class="form-control") }}
      </div>
    </div>
    <div class="">
        <div class="mb-3 form-check">
          {{ form.scored_checkbox(class="form-check-input") }}
          {{ form.scored_checkbox.label(class="form-check-label") }}
        </div>
    </div>
    <div class="row mb-3" id="section1">
      <div class="col-sm">
        {{ form.exercise1.label(class="form-label") }}
        {{ form.exercise1(class="form-control") }}
      </div>
      <div class="col-sm">
        {{ form.num_sets1.label(class="form-label") }}
        {{ form.num_sets1(class="form-control") }}
      </div>
      <div class="col-sm">
        {{ form.num_reps1.label(class="form-label") }}
        {{ form.num_reps1(class="form-control") }}
      </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm">
          {{ form.add_section_button(class="btn btn-outline-dark", onclick="add_section()") }}
        </div>
        <div class="col-sm">
          {{ form.add_exercise_button(class="btn btn-outline-primary") }}
        </div>
    </div>
    <div class="row">
        {{ form.submit_workout_button(class="btn btn-primary") }}
    </div>
    <br/>
    <div class="row">
      {{ form.save_workout_button(class="btn btn-outline-secondary") }}
    </div>
    <br/>
    <div class="row">
      {{ form.load_workout_button(class="btn btn-outline-dark") }}
    </div>

    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
  </form>
</div>

<script>
function add_section() {
    // get the form from the HTML page
    // eventually workout is it's own section with id=workoutcontent
    // then you get the sectionid for wherever the button was pressed
    var curr_section = document.getElementById("section1");
    var new_section = document.createElement('textarea');
    curr_section.appendChild(new_section);

    //var form_elems = form.childNodes
}
</script>

{% endblock %}