{% extends "base.html" %}

{% block content %}

    <main class="main">
        <div class="container">
          <button type="button" class="btn btn-outline-dark">Load Previously Created Workout</button>
          <form method="POST">
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="workoutName" class="form-label"><h1>Workout Name</h1></label>
                  <input class="form-control" id="workoutName" placeholder="Workout">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="workoutName" class="form-label">Part A</label>
                  <input class="form-control" id="workoutName" placeholder="Workout" name="workout">
                </div>
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="scoredCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                      Scored
                  </label>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-outline-dark">Add Section</button>
            <button type="button" class="btn btn-outline-primary">Add Exercise</button>
            <button type="submit" class="btn btn-primary">Submit Workout</button>
          </form>
        </div>
    </main>

{% endblock %}