<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Zachary Binger - Workout Tracker</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <img class="profile" src="LinkedInZacharyBinger.png" alt="Zac's profile picture." />
      <h1>Starting the creation of the Workout Tracker</h1>
      <p>
        Hello, my name is Zac Binger. I am creating a workout creation and tracking
        web application using HTML, CSS, and Flask (Python).
      </p>
      <p>
        Through extreme flexibility and ease of use, you will be able to
        create and track highly customizable workouts and keep track of
        performance.
      </p>
      <p>One day this app will help you look like this:</p>
      <img class="code" src="CrossFit...Dead.png" alt="How you might look after a good workout." />
    </main>
  </body>
</html>
